@CHARSET "ISO-8859-1";


.footer {
	margin-top: 20px;
	height: 150px; 
	border-top: 1px solid #e7e7e7;
	background-image: linear-gradient(#fcfcfc, #eee);
	border: 1px solid #d5d5d5;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	
}

.footer .container {
	padding-top: 20px;
}

/* .btn-success {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  	background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
  
}

.btn {
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	 
} */

/* .btn-default {
	 background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
} */

input.ng-invalid.ng-dirty {
	border-color: #e74c3c;
}



select.ng-invalid.ng-dirty {
	border-color: #e74c3c;
}

.required-mark { 
   color:red;
}

#ajax-loader-div {
  height: 100%;
  position: fixed;
  z-index: 1;
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
  
}
.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #101010;
  border-color: #333;
}

