<div class="container-fluid" ng-controller="ListSystemController">
<div class="row">
		<div class="col-md-10">
			<h2>Manage Systems</h2>
		</div>
		<div class="col-md-2">
			<a href="#/addSystem" class="btn btn-primary pull-right">Add System</a>
		</div>
	</div>

<div class="row">
		<div class="col-md-12">
			<h3>Find System</h3>
		</div>
		
	</div>
	
	<form name="form" novalidate>
	
	<div class="row">
	
		<div class="col-md-3">
			<div class="form-group">
				    <input type="text" class="form-control" 
				    	id="name" ng-model="systemSearchFilter.name" 
				    	placeholder="Find by system name" name="name">
				    	
			  	</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
					    <input type="text" class="form-control" 
					    	id="serial" ng-model="systemSearchFilter.serial" 
					    	placeholder="Find by system serial" name="serial"
					    	>
					    	
				  	</div>
		</div>
		
		
		<div class="col-md-3">
			<a href="#" class="btn btn-primary" ng-click="applySystemFilterByPageNumber(1);" ng-disabled='form.$invalid'>Search</a>
			
		</div>
		
	</div>
	</form>
	
<div class="row">
		<div class="col-md-10">
			<table class="table">
			<thead>
				<tr>
					<th>Sr No</th>
					<th>Name</th>
					<th>Serial No.</th>
					<th>Available</th>
					<th></th>
				</tr>
				</thead>
				<tr ng-repeat="system in systems">
					<td>{{($index+1) + (systemSearchFilter.pageNumber-1) * systemSearchFilter.pageSize}}</td>
					<td>{{system.name}}</td>
					<td>{{system.serial}}</td>
					<td>
						<span ng-hide="system.occupied" class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
						<span ng-show="system.occupied" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</td>
					<td>
						<a href="#/editSystem" ui-sref="editSystem({systemId: system.id})" class="btn btn-primary">Edit</a> &nbsp;
				</tr>
			</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-10">
			<nav style="display:table; margin: 0 auto;">
			  <ul class="pagination">
			    <li>
			      <a aria-label="First" ng-click="applyVisitorFilterByPageNumber(1);">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li ng-repeat="n in systemSearchFilter.pageNumbers"><a ng-click="applySystemFilterByPageNumber(n);">{{n}}</a></li>
			    <li>
			      <a aria-label="Last" ng-click="applySystemFilterByPageNumber(systemSearchFilter.totalPages)">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>
</div>	
