
<div class="container-fluid" ng-controller="RegistrationController">
	<div id="ajax-loader-div" ng-show="showAjaxLoader">
		<img src="images/ajax-loader.gif" class="ajax-loader">
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success alert-dismissible" role="alert" ng-show="showSuccessAlert" style="margin-bottom: 0px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<b>Successfully saved details of Cybercafe. Please check your email box for activating your account !</b>
			</div>
			<div class="alert alert-danger alert-dismissible" role="alert" ng-show="showSomethingWentWrongAlert" style="margin-bottom: 0px;">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<b>Something went wrong, Please try again !</b>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Register your cybercafe </h2>
		</div>
	</div>
	<form ng-submit="registerCybercafe(form)" name="form" novalidate>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				    <label for="name">Name <span class="required-mark">*</span></label>
				    <input type="text" class="form-control" 
				    	id="cybercafeName" ng-model="cybercafeName" 
				    	placeholder="Enter name of cybercafe" name="cybercafeName" required
				    	>
				    	
				    <div ng-if="form.cybercafeName.$dirty" class="help-block">
			    		<div ng-messages="form.cybercafeName.$error" style="color: #e74c3c;">
	                        <div ng-message="required">Cybercafe name is required</div>
	                    </div>
			    	</div>	
			  	</div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
			    <label for="email">Email address <span class="required-mark">*</span></label>
			    <input type="email" class="form-control" 
			    	id="email" ng-model="email" name="email" 
			    	placeholder="Enter email" required
			    	check-for-duplicate data-check-for-duplicate-url="rest/users?email=">
			    <div ng-if="form.email.$dirty" class="help-block">
		    		<div ng-messages="form.email.$error" style="color: #e74c3c;">
                        <div ng-message="required">Email required</div>
                        <div ng-message="duplicate">Email already in use</div>
                    </div>
			    </div>
			  </div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				    <label for="addressLine1">Address Line1</label>
				    <input type="text" class="form-control" 
				    	id="addressLine1" ng-model="addressLine1" 
				    	placeholder="Enter name address line 1">
			  	</div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
				    <label for="addressLine2">Address Line2</label>
				    <input type="text" class="form-control" 
				    	id="addressLine2" ng-model="addressLine2" 
				    	placeholder="Enter name address line 1">
			  	</div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				    <label for="state">State <span class="required-mark">*</span></label>
				    <select class="form-control" 
				    	 id="state"
				    	 name="state" 
				    	 ng-model="state" 
				    	 ng-options="state.name for state in states"
				    	 ng-change="populateCities();" required>
				    	 <option value="">Select a state</option>
					</select>
					<div ng-if="form.state.$dirty" class="help-block">
			    		<div ng-messages="form.state.$error" style="color: #e74c3c;">
	                        <div ng-message="required">State is required</div>
	                    </div>
			    	</div>	
			  	</div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
				    <label for="city">city <span class="required-mark">*</span></label>
				    <select class="form-control" id="city"
				    	ng-model="city"
				    	name="city" 
				    	 ng-options="city.name for city in cities" required>
				    	 <option value="">Select a city</option>
					 
					</select>
					<div ng-if="form.city.$dirty" class="help-block">
			    		<div ng-messages="form.city.$error" style="color: #e74c3c;">
	                        <div ng-message="required">City is required</div>
	                    </div>
			    	</div>	
			  	</div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
			    <label for="pin">Pin Code</label>
			    <input type="text" class="form-control" 
			    	id="pin" ng-model="pin" name="pin"
			    	placeholder="Enter pin code" numeric>
				    <div ng-if="form.pin.$dirty" class="help-block">
			    		<div ng-messages="form.pin.$error" style="color: #e74c3c;">
	                        <div ng-message="numeric">Invalid pin code</div>
	                    </div>
			    	</div>	
			  	</div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
			    <label for="phone">Mobile No <span class="required-mark">*</span></label>
			    <input type="text" class="form-control" 
			    	id="mobileNo" ng-model="mobileNo" name="mobileNo"
			    	placeholder="Enter mobile number" required numeric>
				   	<div ng-if="form.mobileNo.$dirty" class="help-block">
			    		<div ng-messages="form.mobileNo.$error" style="color: #e74c3c;">
	                        <div ng-message="required">Mobile number is required</div>
	                        <div ng-message="numeric">Invalid mobile number</div>
	                    </div>
				    </div> 	
			  </div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
			    <label for="username">Username <span class="required-mark">*</span></label>
			    <input type="text" class="form-control" 
			    	id="username" ng-model="username" name="username"
			    	placeholder="Enter username" required 
			    	check-for-duplicate data-check-for-duplicate-url="rest/users?userName=">
			    	<div ng-if="form.username.$dirty" class="help-block" autocomplete='off'>
			    		<div ng-messages="form.username.$error" style="color: #e74c3c;">
                            <div ng-message="required">Username required</div>
                            <div ng-message="duplicate">Username already in use</div>
                        </div>
			    	</div>
			  </div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
			    <label for="password">Password <span class="required-mark">*</span></label>
			    <input type="password" class="form-control" 
			    	id="password" ng-model="password" name="password"
			    	placeholder="Password" required ng-minlength="6">
			    	<div ng-if="form.password.$dirty" class="help-block">
			    		<div ng-messages="form.password.$error" style="color: #e74c3c;">
	                        <div ng-message="required">Password is required</div>
	                        <div ng-message="minlength">Password must be at least 6 characters</div>
	                    </div>
			    	</div>
			  </div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
			    <label for="firstName" class=>First name <span class="required-mark">*</span></label>
			    <input type="text" class="form-control" 
			    	id="firstName" name="firstName" ng-model="firstName" 
			    	placeholder="Enter first name" required />
			    	<div ng-if="form.firstName.$dirty" class="help-block">
			    		<div ng-messages="form.firstName.$error" style="color: #e74c3c;">
	                        <div ng-message="required">First name is required</div>
	                    </div>
				    </div> 
			 </div>
		</div>
		
		<div class="col-md-4">
			<div class="form-group">
			    <label for="lastName" class=>Last name <span class="required-mark">*</span></label>
			  	<input type="text" class="form-control" 
			  		id="lastName" name="lastName" ng-model="lastName" 
			  		placeholder="Enter last name" 
			  		required/>
			  		<div ng-if="form.lastName.$dirty" class="help-block">
			    		<div ng-messages="form.lastName.$error" style="color: #e74c3c;">
	                        <div ng-message="required">Last name is required</div>
	                    </div>
				    </div> 
			 </div>
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<a href="#" class="btn btn-primary" ng-disabled='form.$invalid'>Register</a>
			<a href="#" class="btn btn-default">Reset</a>
		</div>
	</div>
	</form>
</div>