<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert" ng-show="showSomethingWentWrongAlert" style="margin-bottom: 0px;">
				<b>{{errorMessage}}</b>
			</div>
		</div>
	</div>
	<form ng-submit="saveSystem(form)" name="form" novalidate>
	<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					    <label for="name">System Name <span class="required-mark">*</span></label>
					    <input type="text" class="form-control" 
					    	id="name" ng-model="system.name" 
					    	placeholder="Enter system name" name="name" required
					    	>
					    <div ng-if="form.name.$dirty" class="help-block">
				    		<div ng-messages="form.name.$error" style="color: #e74c3c;">
		                        <div ng-message="required">System name is required</div>
		                    </div>
				    	</div>	
				  	</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					    <label for="name">Serial Number <span class="required-mark">*</span></label>
					    <input type="text" class="form-control" 
					    	id="serialNumber" ng-model="visitor.serialNumber" 
					    	placeholder="Enter serial number" name="serialNumber" required
					    	>
					    <div ng-if="form.serialNumber.$dirty" class="help-block">
				    		<div ng-messages="form.serialNumber.$error" style="color: #e74c3c;">
		                        <div ng-message="required">Serial number is required</div>
		                    </div>
				    	</div>	
				  	</div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<a href="#" class="btn btn-primary" ng-click="saveSystem()" ng-disabled='form.$invalid'>Save System</a>
		<a href="#" class="btn btn-default">Reset</a>
		</div>
	
	</div>
	</form>